
.container {
    display: flex;
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    background-color: #d1e8eb;
    border: 1px solid #014d0b;
    border-radius: 19px;
    font-family: Arial, sans-serif;
    margin: 1px ;
}

.container :hover {
    cursor: pointer;
}

.numero {
    margin-left: 8px;
    margin-top: 4px;
    font-size: 15px;
    font-weight: bold;
    color: #004d40;
}

.simbolo {
    font-size: 30px;
    font-weight: bold;
    color: #00796b;
    margin-top: 0;
    text-align: center;
}

.nome {
    text-align: center;
    font-size: 16px;
    color: #004d40;
}

.massa{
    text-align: center;
}

