body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
}

#tabela-periodica {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#tabela-periodica table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
}

#tabela-periodica td {
    width: 40px; 
    height: 40px; 
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.container {
    padding: 0.5vh; 
    border-radius: 1vh; 
    font-size: 1.2vh; 
    color: #fff;
    text-align: center;
    cursor: pointer;
    height: 6.7vh;
    width: 3.4vw;
}

.container p {
    margin: 0;
    font-size: 10px; 
}

.container:hover {
    transform: scale(1.05); 
    transition: transform 0.2s;
}

h1{
    text-align: center;
    color: #333;
    font-size: 15px;
}
#modal-dados {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fe5959;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#modal-dados h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

#modal-dados p {
    margin: 5px 0;
}

#container-somar-elementos {
    margin-top: 20px;
}

.input-adicionar, .input-resultado {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botoes {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botoes:hover {
    background-color: #0056b3;
}


body.modal-aberto {
    overflow: hidden;
}


#elemento{

background-color: #fe5959;

}

#num-atomico{
    background-color: #fe5959;
}

#nome{
    background-color: #fe5959;
}