
.tabela-periodica {
    border-spacing: 8px;
}


.tabelaLinha {
    height: 80px;
}


.tabelaColuna {
    width: 80px;
    height: 80px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: #e0f7fa;
    border: 1px solid #009688;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    transition: transform 0.2s, box-shadow 0.2s;
}

.container:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 150, 136, 0.3);
}


.numero {
    font-size: 0.8rem;
    font-weight: bold;
    color: #00695c;
}


.simbolo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 8px;
}

.nome {
    font-size: 0.7rem;
    margin-top: -5px;
    
}

.massa {
    font-size: 0.5rem;
    color: #424242;
}

.containerTabela {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    z-index: 9999;
    top: 108px;
    left: 198px;
    height: 18%;
    width: 46%;
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #009688;
    border-radius: 7px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

}

.numeroTabela {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.tabelaElemento {
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    margin: 1rem auto 0 auto;
    box-sizing: border-box;
    float: left;
}

.simboloTabela {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    float: left;
    width: 25%;
    height: 100%;
}

.nomeTabela{
    width: 75%;
    font-size: 40px;
    margin-left: 25%;
    text-align: center;
}
.grupoTabela{
    width: 75%;
    font-size: 30px;
    margin-left: 25%;
    text-align: center;
}
.estadoElemento{
    width: 75%;
    font-size: 30px;
    margin-left: 25%;
    text-align: center; 
}

.aside{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 110%;
    width: 15%;
    background-color: crimson;
}
.tituloAside{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: 130px;
    background-color: #00695c;  
}


.itemElemento{
    display: flex;
    height: 20%;
    width: 30%;
    background-color: #00695c;
    float: left;

}